<div *ngIf="options.message" [class]="options.messageCss">{{options.message}}</div>
    <div class="grid-toolbar">
        <div class="quickSearch" *ngIf="options.quickSearch">             
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" (keyup)="search($event.target.value)" placeholder="Search" >
                    <span class="input-group-addon">                        
                            <span class="fa fa-search"></span>                         
                    </span>
                </div>            
        </div>
	</div>    
    <juForm *ngIf="options.crud" viewMode="popup" title="Sample Form" (onLoad)="onFormLoad($event)" [options]="options.formDefs">
    </juForm>