@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/datepicker/css/bootstrap-datepicker.css">
    <link href="~/app/shared/juComponents.css" rel="stylesheet" />   
    <script src="~/Content/jquery.js"></script>
   
</head>
<body>    
    <my-app><div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerlink="" href="#/">juComponents</a>
        </div>        
        <div class="collapse navbar-collapse" jumenu="">
            <p class="nav navbar-text navbar-right">Hello, Abdulla</p>
        
<ul class="nav navbar-nav">
    <!--template bindings={}--><li class="active">
        <!--template bindings={}-->
        <!--template bindings={}--><a href="#/home"><b class="fa fa-home"></b> Home</a>
        
    </li><li>
        <!--template bindings={}-->
        <!--template bindings={}--><a href="#/setting"><b class="fa fa-home"></b> CRUD</a>
        
    </li><li>
        <!--template bindings={}-->
        <!--template bindings={}--><a href="#/setting/treeView"><b class="fa fa-home"></b> Tree View</a>
        
    </li><li>
        <!--template bindings={}-->
        <!--template bindings={}--><a href="#/setting/cellEdit"><b class="fa fa-home"></b> Cell Edit</a>
        
    </li><li>
        <!--template bindings={}-->
        <!--template bindings={}--><a href="#/setting/window"><b class="fa fa-home"></b> Window</a>
        
    </li><li>
        <!--template bindings={}-->
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"><b class="fa fa-gear"></b> Settings <b class="caret"></b></a>
            <ul class="dropdown-menu multi-level"> 
                <!--template bindings={}--><li>
                    <!--template bindings={}-->
                    <!--template bindings={}--><a href="#/setting"><b class="fa fa-home"></b> CRUD Example</a>
                </li><li>
                    <!--template bindings={}-->
                    <!--template bindings={}--><a href="#/setting/upload"><b class="fa fa-home"></b> Upload</a>
                </li>
            </ul>
        
        <!--template bindings={}-->
        
    </li>
    
</ul>
</div>
    </div>
</div>
<div class="container body-content">
    <router-outlet></router-outlet><my-home>
<div juselect="">
    <div class="btn-group bootstrap-select form-control fit-width show-tick open">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="Select item" style="display: none;">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class="">Select item</span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="true" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select item">
  <input aria-label="..." class="form-control" type="text" style="
    /* display: inline-block; */
    width: :90px !important;
">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px; max-height: 250px;">            
            <!--template bindings={}--><div class="search-checkall">
                <!--template bindings={}--><label><input type="checkbox">Select All</label>
                <!--template bindings={}--><input autofocus="" class="form-control" placeholder="Search..." role="textbox" type="text" style="width: 50%;">
            </div>
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px; max-height: 204px;">
                <!--template bindings={}--><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Beautiful Bangladesg<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="label label-danger label-important">Pakistan<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li class="">
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">India<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Barma<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li class="">
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">China<small class="text-muted">kungfu</small>
                        <!--template bindings={}--><div><small class="text-muted">Seven start mantis kungfu</small></div>
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}--><span class="glyphicon glyphicon-film"></span>
                        <span class="text">Japan<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}--><span class="glyphicon glyphicon-heart"></span>
                        <span class="text">South Kowria<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">USA<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">UK<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Austrlia<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></div>
<button>Mail</button>
<div mail=""><div juform=""><div></div><dynamic-form><div class="modal fade" role="dialog" tabindex="-1">    
                <div class="modal-dialog">           
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Health Care Regulatory System</h4>
                        </div>
                        <div class="modal-body">
                        <div class="" style="display: none;"></div>                    
                        <div class="form-horizontal"><div class="non-tab-content"><div class="form-group">
                            <label class="col-md-4 control-label">To<span class="required" title="This field is required.">*</span></label>                        
                            <div class="col-md-8"> <input class="form-control to ng-untouched ng-pristine ng-valid" placeholder="Enter To" type="text">
            <!--template bindings={}-->  </div>                      
                </div><div class="form-group">
                            <label class="col-md-4 control-label">Subject<span class="required" title="This field is required.">*</span></label>                        
                            <div class="col-md-8"> <input class="form-control subject ng-untouched ng-pristine ng-valid" placeholder="Enter Subject" type="text">
            <!--template bindings={}-->  </div>                      
                </div><div class="form-group">
                            <label class="col-md-4 control-label">Attachment Name</label>                        
                            <div class="col-md-8"> <input class="form-control attachment ng-untouched ng-pristine ng-valid" placeholder="Enter Attachment Name" type="text">
            <!--template bindings={}-->  </div>                      
                </div><div><textarea rows="10" style="width:100%" class="ng-untouched ng-pristine ng-valid"></textarea></div></div><div class="modal-footer"><button class="btn btn-primary" type="submit" disabled="">Send</button><button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button></div></div></div></div></div></div></dynamic-form></div></div>
<div juform=""><div></div><dynamic-form><div class="panel panel-primary">
            <div class="panel-heading" style="cursor:pointer">
                <h3 class="panel-title">Complex Form Example <b class="pull-right fa fa-minus-circle"></b></h3>
            </div>
            <div class="panel-body">
            <div class="" style="display: none;"></div>       
            <div class="form-horizontal"><div class="card"><ul class="nav nav-tabs"><li name="Tab-1" class="active"><a href="javascript: false">Tab-1</a></li><li name="Tab-2"><a href="javascript: false">Tab-2</a></li><li name="Tab-3"><a href="javascript: false">Tab-3</a></li></ul><div class="tabs"><div class="tab-content Tab-1"><div class="row"><div class="col-md-8" undefined=""><fieldset class="group-00"><legend>Group-1</legend><div class="non-tab-content"><div class="form-group">
                            <label class="col-md-2 control-label">Name1<span class="required" title="This field is required.">*</span></label>                        
                            <div class="col-md-10"> <input class="form-control" fileselect="" placeholder="Select file(s)..." propname="name" type="file">
                    <!--template bindings={}-->  </div>                      
                </div><div class="form-group">
                            <label class="col-md-2 control-label">Country<span class="required" title="This field is required.">*</span></label>                        
                            <div class="col-md-10"> <juselect property-name="country">
    <div class="btn-group bootstrap-select">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="India">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class="">India</span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="India" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--><li class="">
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Bangladesh<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li class="selected single-silected">
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">India<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->  </div>                      
                </div><div class="form-group">
                            <label class="col-md-2 control-label">Address<span class="required" title="This field is required.">*</span></label>                        
                            <div class="col-md-10"> <input class="form-control address ng-untouched ng-pristine ng-valid" placeholder="Enter Address" type="text">
            <!--template bindings={}-->  </div>                      
                </div><div class="form-group pbottom"><div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Age</label>                                               
                    <div class="col-md-8"> <input class="form-control age ng-untouched ng-pristine ng-valid" placeholder="Enter age" type="text">
            <!--template bindings={}-->  </div>
                </div>       
            </div><div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                    <label class="col-md-2 control-label">Post<span class="required" title="This field is required.">*</span></label>                                               
                    <div class="col-md-10"> <div class="input-group date" picker-name="datepicker" property="address1.post">
                        <input class="form-control ng-untouched ng-pristine ng-valid" placeholder="Enter Post" type="text">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>                    
                    <!--template bindings={}-->  </div>
                </div>       
            </div></div><div class="form-group">
                            <label class="col-md-2 control-label">Gender</label>                        
                            <div class="col-md-10"> <juselect property-name="Gender">
    <div class="btn-group bootstrap-select">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="Select gender">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class="">Select gender</span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select gender" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Male<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Female<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->  </div>                      
                </div><div class="form-group">
                            <label class="col-md-2 control-label">Description</label>                        
                            <div class="col-md-10"> <textarea class="form-control description ng-untouched ng-pristine ng-valid" placeholder="Enter Description"></textarea>  </div>                      
                </div></div></fieldset></div><div class="col-md-4" undefined=""><div class="row"><div class="col-md-12" style="display: none;"><fieldset class="group-00"><legend>Address1</legend><div class="non-tab-content"><div class="form-group">
                            <label class="col-md-4 control-label">Name</label>                        
                            <div class="col-md-8"> <input class="form-control address1_name ng-untouched ng-pristine ng-valid" placeholder="Enter Name" type="text">
            <!--template bindings={}-->  </div>                      
                </div><div class="form-group">
                            <label class="col-md-4 control-label">Country</label>                        
                            <div class="col-md-8"> <juselect property-name="address1.country">
    <div class="btn-group bootstrap-select form-control" style="width: 100%;">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="Select address">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class="">Select address</span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select address" style="width: 100%; display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Bangladesh<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">India<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->  </div>                      
                </div></div></fieldset></div><div class="col-md-12" undefined=""><fieldset class="group-01"><legend>Address2</legend><div class="non-tab-content"><div class="form-group">
                        <label>Name</label>                        
                        <input class="form-control address2_name ng-untouched ng-pristine ng-valid" placeholder="Enter Name" type="text">
            <!--template bindings={}-->                        
                </div><div class="form-group">
                        <label>Country</label>                        
                        <juselect property-name="address2.country">
    <div class="btn-group bootstrap-select show-tick">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="Nothing selected">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class="">Nothing selected</span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Nothing selected" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Bangladesh<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">India<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->                        
                </div></div></fieldset></div></div></div></div><div class="row"><div class="col-md-12" undefined=""><div class="card"><ul class="nav nav-tabs"><li name="Oxygen" class="active"><a href="javascript: false">Oxygen</a></li><li name="h20" class="disabled"><a href="javascript: false">h20</a></li></ul><div class="tabs"><div class="tab-content Oxygen"><div class="form-group">
                            <label class="col-md-2 control-label">Oxygen</label>                        
                            <div class="col-md-10"> <input class="form-control oxygen ng-untouched ng-pristine ng-valid" placeholder="Enter Oxygen" type="text">
            <!--template bindings={}-->  </div>                      
                </div></div><div class="tab-content h20" style="display: none;"><div class="form-group">
                            <label class="col-md-2 control-label">H20</label>                        
                            <div class="col-md-10"> <input class="form-control h20 ng-untouched ng-pristine ng-valid" placeholder="Enter H20" type="text">
            <!--template bindings={}-->  </div>                      
                </div></div></div></div></div></div></div><div class="tab-content Tab-2" style="display: none;">
            <div class="form-detail">
                <button class="btn btn-success" title="Add a new item"> <b class="fa fa-plus-circle"></b> New Item</button>
                <b>Detail Info or action button if needed</b><div class="pull-right search">             
                    <div class="input-group stylish-input-group">
                        <input class="form-control" placeholder="Search" type="text">
                        <span class="input-group-addon">                        
                                <span class="fa fa-search"></span>                         
                        </span>
                    </div>            
                </div></div>
            <!--template bindings={}--><div>
                <!--template bindings={}--><juform viewmode="form"><div></div><dynamic-form><div class="form-horizontal"><div class="non-tab-content"><div class="form-group pbottom"><div class="col-md-1" style="width:20px"><a href="javascript:;" style="position:relative;top:30px"><b class="fa fa-remove" title="Remove the item"></b></a></div><div class="col-md-2">
                        <label class="control-label">Name<span class="required" title="This field is required.">*</span></label>                                               
                        <input class="form-control name ng-untouched ng-pristine ng-valid" placeholder="Enter Name" type="text">
            <!--template bindings={}-->
            </div><div class="col-md-3">
                        <label class="control-label">Price<span class="required" title="This field is required.">*</span></label>                                               
                        <input class="form-control price ng-untouched ng-pristine ng-valid" placeholder="Enter Price" type="number">
            <!--template bindings={}-->
            </div><div class="col-md-3">
                        <label class="control-label">District<span class="required" title="This field is required.">*</span></label>                                               
                        <juselect property-name="district">
    <div class="btn-group bootstrap-select">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class=""></span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Tangail<small class="text-muted">Rx</small>
                        <!--template bindings={}--><div><small class="text-muted">Async data streaming with observable</small></div>
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Unknown<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->
            </div><div class="col-md-3">
                        <label class="control-label">Thana<span class="required" title="This field is required.">*</span></label>                                               
                        <juselect property-name="Thana">
    <div class="btn-group bootstrap-select">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class=""></span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->
            </div></div></div></div></dynamic-form></juform>
            </div><div>
                <!--template bindings={}--><juform viewmode="form"><div></div><dynamic-form><div class="form-horizontal"><div class="non-tab-content"><div class="form-group pbottom"><div class="col-md-1" style="width:20px"><a href="javascript:;" style="position:relative;top:30px"><b class="fa fa-remove" title="Remove the item"></b></a></div><div class="col-md-2">
                        <label class="control-label">Name<span class="required" title="This field is required.">*</span></label>                                               
                        <input class="form-control name ng-untouched ng-pristine ng-valid" placeholder="Enter Name" type="text">
            <!--template bindings={}-->
            </div><div class="col-md-3">
                        <label class="control-label">Price<span class="required" title="This field is required.">*</span></label>                                               
                        <input class="form-control price ng-untouched ng-pristine ng-valid" placeholder="Enter Price" type="number">
            <!--template bindings={}-->
            </div><div class="col-md-3">
                        <label class="control-label">District<span class="required" title="This field is required.">*</span></label>                                               
                        <juselect property-name="district">
    <div class="btn-group bootstrap-select">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class=""></span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Tangail<small class="text-muted">Rx</small>
                        <!--template bindings={}--><div><small class="text-muted">Async data streaming with observable</small></div>
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li><li>
                    <a role="option">
                        <!--template bindings={}-->
                        <span class="text">Unknown<small class="text-muted"></small>
                        <!--template bindings={}-->
                        </span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->
            </div><div class="col-md-3">
                        <label class="control-label">Thana<span class="required" title="This field is required.">*</span></label>                                               
                        <juselect property-name="Thana">
    <div class="btn-group bootstrap-select">
        <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" type="button" title="">
            <span class="filter-option pull-left"> 
                <!--template bindings={}-->               
                <span class=""></span>
            </span>&nbsp;
            <span class="bs-caret">
                <span class="caret"></span>
            </span>
        </button>
<div aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="" style="display: none;">
  <input aria-label="..." class="form-control" type="text">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="caret"></span></button>
      </span>
</div>
        <div class="dropdown-menu open" role="combobox" style="overflow: hidden; min-height: 0px;">            
            <!--template bindings={}-->
            <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="overflow-y: auto; min-height: 0px;">
                <!--template bindings={}--> 
                <!--template bindings={}-->                         
            </ul>
            <div class="notify" style="visibility: hidden;">Limit reached (0 items max)</div>
        </div>

    </div></juselect>                
                <!--template bindings={}-->
            </div></div></div></div></dynamic-form></juform>
            </div>
        </div><div class="tab-content Tab-3" style="display: none;"><div class="form-group">
                            <label class="col-md-2 control-label">Ambot Me</label>                        
                            <div class="col-md-10"> <textarea ckeditor="" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Enter aboutMe" style="visibility: hidden; display: none;"></textarea><div id="cke_editor1" class="cke_1 cke cke_reset cke_chrome cke_editor_editor1 cke_ltr cke_browser_webkit" dir="ltr" lang="en" role="application" aria-labelledby="cke_editor1_arialbl"><span id="cke_editor1_arialbl" class="cke_voice_label">Rich Text Editor, editor1</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; -webkit-user-select: none;"><span id="cke_8" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_8" onmousedown="return false;"><span id="cke_11" class="cke_toolbar" aria-labelledby="cke_11_label" role="toolbar"><span id="cke_11_label" class="cke_voice_label">Clipboard/Undo</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_12" class="cke_button cke_button__cut cke_button_disabled " href="javascript:void('Cut')" title="Cut" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_12_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(2,event);" onfocus="return CKEDITOR.tools.callFunction(3,event);" onclick="CKEDITOR.tools.callFunction(4,this);return false;"><span class="cke_button_icon cke_button__cut_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -264px;background-size:auto;">&nbsp;</span><span id="cke_12_label" class="cke_button_label cke_button__cut_label" aria-hidden="false">Cut</span></a><a id="cke_13" class="cke_button cke_button__copy cke_button_disabled " href="javascript:void('Copy')" title="Copy" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_13_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(5,event);" onfocus="return CKEDITOR.tools.callFunction(6,event);" onclick="CKEDITOR.tools.callFunction(7,this);return false;"><span class="cke_button_icon cke_button__copy_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -216px;background-size:auto;">&nbsp;</span><span id="cke_13_label" class="cke_button_label cke_button__copy_label" aria-hidden="false">Copy</span></a><a id="cke_14" class="cke_button cke_button__paste cke_button_off" href="javascript:void('Paste')" title="Paste" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_14_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(8,event);" onfocus="return CKEDITOR.tools.callFunction(9,event);" onclick="CKEDITOR.tools.callFunction(10,this);return false;"><span class="cke_button_icon cke_button__paste_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -312px;background-size:auto;">&nbsp;</span><span id="cke_14_label" class="cke_button_label cke_button__paste_label" aria-hidden="false">Paste</span></a><a id="cke_15" class="cke_button cke_button__pastetext cke_button_off" href="javascript:void('Paste as plain text')" title="Paste as plain text" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_15_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(11,event);" onfocus="return CKEDITOR.tools.callFunction(12,event);" onclick="CKEDITOR.tools.callFunction(13,this);return false;"><span class="cke_button_icon cke_button__pastetext_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -720px;background-size:auto;">&nbsp;</span><span id="cke_15_label" class="cke_button_label cke_button__pastetext_label" aria-hidden="false">Paste as plain text</span></a><a id="cke_16" class="cke_button cke_button__pastefromword cke_button_off" href="javascript:void('Paste from Word')" title="Paste from Word" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_16_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(14,event);" onfocus="return CKEDITOR.tools.callFunction(15,event);" onclick="CKEDITOR.tools.callFunction(16,this);return false;"><span class="cke_button_icon cke_button__pastefromword_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -768px;background-size:auto;">&nbsp;</span><span id="cke_16_label" class="cke_button_label cke_button__pastefromword_label" aria-hidden="false">Paste from Word</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_17" class="cke_button cke_button__undo cke_button_disabled " href="javascript:void('Undo')" title="Undo" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_17_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(17,event);" onfocus="return CKEDITOR.tools.callFunction(18,event);" onclick="CKEDITOR.tools.callFunction(19,this);return false;"><span class="cke_button_icon cke_button__undo_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -1008px;background-size:auto;">&nbsp;</span><span id="cke_17_label" class="cke_button_label cke_button__undo_label" aria-hidden="false">Undo</span></a><a id="cke_18" class="cke_button cke_button__redo cke_button_disabled " href="javascript:void('Redo')" title="Redo" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(20,event);" onfocus="return CKEDITOR.tools.callFunction(21,event);" onclick="CKEDITOR.tools.callFunction(22,this);return false;"><span class="cke_button_icon cke_button__redo_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -960px;background-size:auto;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__redo_label" aria-hidden="false">Redo</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_19" class="cke_toolbar" aria-labelledby="cke_19_label" role="toolbar"><span id="cke_19_label" class="cke_voice_label">Editing</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_20" class="cke_button cke_button__scayt cke_button_off " href="javascript:void('Spell Checker')" title="Spell Checker" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_20_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(23,event);" onfocus="return CKEDITOR.tools.callFunction(24,event);" onclick="CKEDITOR.tools.callFunction(25,this);return false;"><span class="cke_button_icon cke_button__scayt_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -888px;background-size:auto;">&nbsp;</span><span id="cke_20_label" class="cke_button_label cke_button__scayt_label" aria-hidden="false">Spell Check As You Type</span><span class="cke_button_arrow"></span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_21" class="cke_toolbar" aria-labelledby="cke_21_label" role="toolbar"><span id="cke_21_label" class="cke_voice_label">Links</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_22" class="cke_button cke_button__link cke_button_off" href="javascript:void('Link')" title="Link" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_22_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(26,event);" onfocus="return CKEDITOR.tools.callFunction(27,event);" onclick="CKEDITOR.tools.callFunction(28,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -528px;background-size:auto;">&nbsp;</span><span id="cke_22_label" class="cke_button_label cke_button__link_label" aria-hidden="false">Link</span></a><a id="cke_23" class="cke_button cke_button__unlink cke_button_disabled " href="javascript:void('Unlink')" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_23_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(29,event);" onfocus="return CKEDITOR.tools.callFunction(30,event);" onclick="CKEDITOR.tools.callFunction(31,this);return false;"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -552px;background-size:auto;">&nbsp;</span><span id="cke_23_label" class="cke_button_label cke_button__unlink_label" aria-hidden="false">Unlink</span></a><a id="cke_24" class="cke_button cke_button__anchor cke_button_off" href="javascript:void('Anchor')" title="Anchor" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_24_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(32,event);" onfocus="return CKEDITOR.tools.callFunction(33,event);" onclick="CKEDITOR.tools.callFunction(34,this);return false;"><span class="cke_button_icon cke_button__anchor_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -504px;background-size:auto;">&nbsp;</span><span id="cke_24_label" class="cke_button_label cke_button__anchor_label" aria-hidden="false">Anchor</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_25" class="cke_toolbar" aria-labelledby="cke_25_label" role="toolbar"><span id="cke_25_label" class="cke_voice_label">Insert</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_26" class="cke_button cke_button__image cke_button_off" href="javascript:void('Image')" title="Image" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_26_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(35,event);" onfocus="return CKEDITOR.tools.callFunction(36,event);" onclick="CKEDITOR.tools.callFunction(37,this);return false;"><span class="cke_button_icon cke_button__image_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -360px;background-size:auto;">&nbsp;</span><span id="cke_26_label" class="cke_button_label cke_button__image_label" aria-hidden="false">Image</span></a><a id="cke_27" class="cke_button cke_button__table cke_button_off" href="javascript:void('Table')" title="Table" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_27_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(38,event);" onfocus="return CKEDITOR.tools.callFunction(39,event);" onclick="CKEDITOR.tools.callFunction(40,this);return false;"><span class="cke_button_icon cke_button__table_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -912px;background-size:auto;">&nbsp;</span><span id="cke_27_label" class="cke_button_label cke_button__table_label" aria-hidden="false">Table</span></a><a id="cke_28" class="cke_button cke_button__horizontalrule cke_button_off" href="javascript:void('Insert Horizontal Line')" title="Insert Horizontal Line" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_28_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(41,event);" onfocus="return CKEDITOR.tools.callFunction(42,event);" onclick="CKEDITOR.tools.callFunction(43,this);return false;"><span class="cke_button_icon cke_button__horizontalrule_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -336px;background-size:auto;">&nbsp;</span><span id="cke_28_label" class="cke_button_label cke_button__horizontalrule_label" aria-hidden="false">Insert Horizontal Line</span></a><a id="cke_29" class="cke_button cke_button__specialchar cke_button_off" href="javascript:void('Insert Special Character')" title="Insert Special Character" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_29_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(44,event);" onfocus="return CKEDITOR.tools.callFunction(45,event);" onclick="CKEDITOR.tools.callFunction(46,this);return false;"><span class="cke_button_icon cke_button__specialchar_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -864px;background-size:auto;">&nbsp;</span><span id="cke_29_label" class="cke_button_label cke_button__specialchar_label" aria-hidden="false">Insert Special Character</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_30" class="cke_toolbar" aria-labelledby="cke_30_label" role="toolbar"><span id="cke_30_label" class="cke_voice_label">Tools</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_31" class="cke_button cke_button__maximize cke_button_off" href="javascript:void('Maximize')" title="Maximize" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_31_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(47,event);" onfocus="return CKEDITOR.tools.callFunction(48,event);" onclick="CKEDITOR.tools.callFunction(49,this);return false;"><span class="cke_button_icon cke_button__maximize_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -672px;background-size:auto;">&nbsp;</span><span id="cke_31_label" class="cke_button_label cke_button__maximize_label" aria-hidden="false">Maximize</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_32" class="cke_toolbar" aria-labelledby="cke_32_label" role="toolbar"><span id="cke_32_label" class="cke_voice_label">Document</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_33" class="cke_button cke_button__source cke_button_off" href="javascript:void('Source')" title="Source" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_33_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(50,event);" onfocus="return CKEDITOR.tools.callFunction(51,event);" onclick="CKEDITOR.tools.callFunction(52,this);return false;"><span class="cke_button_icon cke_button__source_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -840px;background-size:auto;">&nbsp;</span><span id="cke_33_label" class="cke_button_label cke_button__source_label" aria-hidden="false">Source</span></a></span><span class="cke_toolbar_end"></span></span><span class="cke_toolbar_break"></span><span id="cke_34" class="cke_toolbar" aria-labelledby="cke_34_label" role="toolbar"><span id="cke_34_label" class="cke_voice_label">Basic Styles</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_35" class="cke_button cke_button__bold cke_button_off" href="javascript:void('Bold')" title="Bold" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_35_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(53,event);" onfocus="return CKEDITOR.tools.callFunction(54,event);" onclick="CKEDITOR.tools.callFunction(55,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -24px;background-size:auto;">&nbsp;</span><span id="cke_35_label" class="cke_button_label cke_button__bold_label" aria-hidden="false">Bold</span></a><a id="cke_36" class="cke_button cke_button__italic cke_button_off" href="javascript:void('Italic')" title="Italic" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_36_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(56,event);" onfocus="return CKEDITOR.tools.callFunction(57,event);" onclick="CKEDITOR.tools.callFunction(58,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -48px;background-size:auto;">&nbsp;</span><span id="cke_36_label" class="cke_button_label cke_button__italic_label" aria-hidden="false">Italic</span></a><a id="cke_37" class="cke_button cke_button__strike cke_button_off" href="javascript:void('Strikethrough')" title="Strikethrough" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_37_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(59,event);" onfocus="return CKEDITOR.tools.callFunction(60,event);" onclick="CKEDITOR.tools.callFunction(61,this);return false;"><span class="cke_button_icon cke_button__strike_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -72px;background-size:auto;">&nbsp;</span><span id="cke_37_label" class="cke_button_label cke_button__strike_label" aria-hidden="false">Strikethrough</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_38" class="cke_button cke_button__removeformat cke_button_off" href="javascript:void('Remove Format')" title="Remove Format" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_38_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(62,event);" onfocus="return CKEDITOR.tools.callFunction(63,event);" onclick="CKEDITOR.tools.callFunction(64,this);return false;"><span class="cke_button_icon cke_button__removeformat_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -792px;background-size:auto;">&nbsp;</span><span id="cke_38_label" class="cke_button_label cke_button__removeformat_label" aria-hidden="false">Remove Format</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_39" class="cke_toolbar" aria-labelledby="cke_39_label" role="toolbar"><span id="cke_39_label" class="cke_voice_label">Paragraph</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_40" class="cke_button cke_button__numberedlist cke_button_off" href="javascript:void('Insert/Remove Numbered List')" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_40_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(65,event);" onfocus="return CKEDITOR.tools.callFunction(66,event);" onclick="CKEDITOR.tools.callFunction(67,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -648px;background-size:auto;">&nbsp;</span><span id="cke_40_label" class="cke_button_label cke_button__numberedlist_label" aria-hidden="false">Insert/Remove Numbered List</span></a><a id="cke_41" class="cke_button cke_button__bulletedlist cke_button_off" href="javascript:void('Insert/Remove Bulleted List')" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_41_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(68,event);" onfocus="return CKEDITOR.tools.callFunction(69,event);" onclick="CKEDITOR.tools.callFunction(70,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -600px;background-size:auto;">&nbsp;</span><span id="cke_41_label" class="cke_button_label cke_button__bulletedlist_label" aria-hidden="false">Insert/Remove Bulleted List</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_42" class="cke_button cke_button__outdent cke_button_disabled " href="javascript:void('Decrease Indent')" title="Decrease Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_42_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(71,event);" onfocus="return CKEDITOR.tools.callFunction(72,event);" onclick="CKEDITOR.tools.callFunction(73,this);return false;"><span class="cke_button_icon cke_button__outdent_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -456px;background-size:auto;">&nbsp;</span><span id="cke_42_label" class="cke_button_label cke_button__outdent_label" aria-hidden="false">Decrease Indent</span></a><a id="cke_43" class="cke_button cke_button__indent cke_button_off" href="javascript:void('Increase Indent')" title="Increase Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_43_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(74,event);" onfocus="return CKEDITOR.tools.callFunction(75,event);" onclick="CKEDITOR.tools.callFunction(76,this);return false;"><span class="cke_button_icon cke_button__indent_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -408px;background-size:auto;">&nbsp;</span><span id="cke_43_label" class="cke_button_label cke_button__indent_label" aria-hidden="false">Increase Indent</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_44" class="cke_button cke_button__blockquote cke_button_off" href="javascript:void('Block Quote')" title="Block Quote" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_44_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(77,event);" onfocus="return CKEDITOR.tools.callFunction(78,event);" onclick="CKEDITOR.tools.callFunction(79,this);return false;"><span class="cke_button_icon cke_button__blockquote_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 -168px;background-size:auto;">&nbsp;</span><span id="cke_44_label" class="cke_button_label cke_button__blockquote_label" aria-hidden="false">Block Quote</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_45" class="cke_toolbar" aria-labelledby="cke_45_label" role="toolbar"><span id="cke_45_label" class="cke_voice_label">Styles</span><span class="cke_toolbar_start"></span><span id="cke_9" class="cke_combo cke_combo__styles cke_combo_off" role="presentation"><span id="cke_9_label" class="cke_combo_label">Styles</span><a class="cke_combo_button" title="Formatting Styles" tabindex="-1" href="javascript:void('Formatting Styles')" hidefocus="true" role="button" aria-labelledby="cke_9_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(81,event,this);" onfocus="return CKEDITOR.tools.callFunction(82,event);" onclick="CKEDITOR.tools.callFunction(80,this);return false;"><span id="cke_9_text" class="cke_combo_text cke_combo_inlinelabel">Styles</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span id="cke_10" class="cke_combo cke_combo__format cke_combo_off" role="presentation"><span id="cke_10_label" class="cke_combo_label">Format</span><a class="cke_combo_button" title="Paragraph Format" tabindex="-1" href="javascript:void('Paragraph Format')" hidefocus="true" role="button" aria-labelledby="cke_10_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(84,event,this);" onfocus="return CKEDITOR.tools.callFunction(85,event);" onclick="CKEDITOR.tools.callFunction(83,this);return false;"><span id="cke_10_text" class="cke_combo_text cke_combo_inlinelabel">Format</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_46" class="cke_toolbar" aria-labelledby="cke_46_label" role="toolbar"><span id="cke_46_label" class="cke_voice_label">about</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_47" class="cke_button cke_button__about cke_button_off" href="javascript:void('About CKEditor')" title="About CKEditor" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_47_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(86,event);" onfocus="return CKEDITOR.tools.callFunction(87,event);" onclick="CKEDITOR.tools.callFunction(88,this);return false;"><span class="cke_button_icon cke_button__about_icon" style="background-image:url('http://localhost:51758/Content/ckeditor/plugins/icons.png?t=G2VC');background-position:0 0px;background-size:auto;">&nbsp;</span><span id="cke_47_label" class="cke_button_label cke_button__about_label" aria-hidden="false">About CKEditor</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><span id="cke_51" class="cke_voice_label">Press ALT 0 for help</span><iframe src="" frameborder="0" class="cke_wysiwyg_frame cke_reset" title="Rich Text Editor, editor1" aria-describedby="cke_51" tabindex="0" allowtransparency="true" style="width: 100%; height: 100%;"></iframe></div><span id="cke_1_bottom" class="cke_bottom cke_reset_all" role="presentation" style="-webkit-user-select: none;"><span id="cke_1_resizer" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" title="Resize" onmousedown="CKEDITOR.tools.callFunction(0, event)">◢</span><span id="cke_1_path_label" class="cke_voice_label">Elements path</span><span id="cke_1_path" class="cke_path" role="group" aria-labelledby="cke_1_path_label"><span class="cke_path_empty">&nbsp;</span></span></span></div></div>
                 <!--template bindings={}-->  </div>                      
                </div>under construction....</div></div></div><div class="modal-footer"><button class="btn btn-success" type="submit" disabled="">Save Changes</button><button class="btn btn-default" type="button">Set Data</button></div></div></div></div></dynamic-form></div>

<div class="btn-group bootstrap-select dropup">
    <button aria-expanded="false" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Ketchup" type="button">
        <span class="filter-option pull-left">Ketchup</span>&nbsp;
        <span class="bs-caret">
            <span class="caret"></span>
        </span>
    </button>
    <div class="dropdown-menu open" role="combobox" style="max-height: 231px; overflow: hidden; min-height: 0px;">
        <ul aria-expanded="false" class="dropdown-menu inner" role="listbox" style="max-height: 219px; overflow-y: auto; min-height: 0px;">
            <li class="" data-original-index="0">
                <a aria-disabled="false" aria-selected="false" class="" data-tokens="null" role="option" style="" tabindex="0">
                    <span class="text">Mustard</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
            <li class="divider" role="separator"></li>
            <li class="selected" data-original-index="1">
                <a aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" style="" tabindex="0">
                    <span class="text">Ketchup</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
            <li class="" data-original-index="2">
                <a aria-disabled="true" aria-selected="true" class="" data-tokens="null" role="option" style="" tabindex="0">
                    <span class="text">Relish</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
        </ul>
    </div>

</div>

<jupanel viewmode="tab"><div class="card">
    <!--template bindings={}--><ul class="nav nav-tabs">
        <!--template bindings={}--><li role="presentation">
            <a>title 1</a>
        </li><li role="presentation" class="active">
            <a>title 2</a>
        </li>
    </ul>
    <div class="tab-content">
        
    <content title="title 1"><div class="tab">
    <!--template bindings={}-->
    <div style="opacity: 0; height: 0px;">
        
        <p>content---1</p>
    
    </div>
</div>
</content>
    <content title="title 2"><div class="tab">
    <!--template bindings={}-->
    <div style="opacity: 1;">
        
        <p>content----2</p>
    
    </div>
</div>
</content>

    </div>
</div></jupanel></my-home>
    <hr>
    <footer>
        <p>©juComponents</p>
    </footer>
</div></my-app>    
    <script src="~/scripts/angular2/shim.min.js"></script>
    <script src="~/scripts/angular2/zone.js"></script>
    <script src="~/scripts/angular2/Reflect.js"></script>
    <script src="~/scripts/angular2/system.src.js"></script>    
    <script src="~/systemjs.config.js"></script>   
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>   
    <script src="~/Content/datepicker/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
