
<div juSelect [data]="dataList" [options]="mySelectOptions" ></div>
<button (click)="m.show()">Mail</button>
<div #m mail (onLoad)="mailLoad($event)"  (onSend)="mailData($event)"></div>
<div juForm (onLoad)="myFormLoad($event)" [options]="myOptions"> </div>
 
<juPanel viewMode="tab">
    <content title="title 1">
        <p>content---1</p>
    </content>
    <content title="title 2" [active]="true">
        <button class="btn btn-primary" type="button" (click)="mx.showModal()">Show</button>
        <rv #mx [options]="rvOptions">
            <template let-ref="ref">
                <h1>Hello world!{{ref.approvedGroup}}</h1>
            </template>
        </rv>
    </content>
</juPanel>