
<div juSelect [data]="dataList" [options]="mySelectOptions" ></div>
<button (click)="m.show()">Mail</button>
<div #m mail (onLoad)="mailLoad($event)"  (onSend)="mailData($event)"></div>
<div juForm (onLoad)="myFormLoad($event)" [options]="myOptions"> </div>

<div class="btn-group bootstrap-select dropup">
    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Ketchup" aria-expanded="false">
        <span class="filter-option pull-left">Ketchup</span>&nbsp;
        <span class="bs-caret">
            <span class="caret"></span>
        </span>
    </button>
    <div class="dropdown-menu open" role="combobox" style="max-height: 231px; overflow: hidden; min-height: 0px;">
        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 219px; overflow-y: auto; min-height: 0px;">
            <li data-original-index="0" class="">
                <a tabindex="0" class="" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                    <span class="text">Mustard</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li data-original-index="1" class="selected">
                <a tabindex="0" class="" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                    <span class="text">Ketchup</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
            <li data-original-index="2" class="">
                <a tabindex="0" class="" style="" data-tokens="null" role="option" aria-disabled="true" aria-selected="true">
                    <span class="text">Relish</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
        </ul>
    </div>

</div>

<juPanel viewMode="tab">
    <content title="title 1">
        <p>content---1</p>
    </content>
    <content title="title 2" [active]="true">
        <p>content----2</p>
    </content>
</juPanel>