.option-host{border-bottom:1px solid #e5e5e5;}
.option-host:last-child{border-bottom:0px solid transparent;}
.ju-option{padding:.4em;cursor:pointer;color: #555; transition: 0.5s; }            
.ju-option:hover,ju-option:focus{color: #fff;text-decoration: none;background-color: #387ef5;}  
.ju-option .header{position:relative;}
.ju-option .title{font-weight:normal;}
.ju-option .sub-title{position:absolute; right:3px;}  
.ju-option .description{font-size:11px;}         
.selected, .selected:hover{background-color:#23527c;color: #fff; }           
.options{z-index:999;background-color:#fff;border:solid 1px #23527c;width:100%;position:absolute;margin-top:1px;}
.options .items{max-height:250px;overflow-y:auto;}
.options .action{padding:.4em;border-bottom:solid 1px #e3e3e3;}
.options .search-hide{padding:0;border-bottom:solid 1px transparent;}
.options .action input[type="text"]{border:solid 1px #e3e3e3;padding-left:3px;width:70%;}
.options .action label{margin-right:3px;cursor:pointer;}
.ju-select{cursor:pointer;background-color:#fff;border:solid 1px #ddd; padding:2px 5px;height:34px;position:relative}
.ju-select b{position:absolute;right:2px;top:5px}
.show{display:block;}
.hide{display:none;}
.empty-options{min-height:120px; border-bottom:solid 1px #555;}
.unselect{right:5px;position:absolute;top:6px;cursor:pointer;color:black;}
.unselect:hover{color:red;}